@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

html,body
{
  overflow-x: hidden;
   height: 100%;
   width: 100%;
}
.navbar
{
    background-color: #db3236;
}